body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #333;
}

header {
    background: linear-gradient(135deg, #b979cc, #7c74e2);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #ffcccc, #ffe6cc);
    border-radius: 15px;
}

.hero img{
    width: 16%;
}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

.hero p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.hero .btn {
    background: linear-gradient(135deg, #b979cc, #7c74e2);
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.hero .btn:hover {
    background: linear-gradient(135deg, #915aa1, #5650ac);
    color: #fff;
}

section {
    padding: 2rem;
    text-align: center;
}

section#about {
    background-color: #fffae6;
}

section#projects .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

section#projects .project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    flex: 1 1 calc(33% - 2rem);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

section#contact form input,
section#contact form textarea {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

section#contact form button {
    background: linear-gradient(135deg, #b979cc, #7c74e2);;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

section#contact form button:hover {
    background: linear-gradient(135deg, #915aa1, #5650ac);
}

footer {
    background: linear-gradient(135deg, #b979cc, #7c74e2);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
